.navbar {
    width: 100%;
    height: 70px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* Logo */
.logo img {
    height: 30px;
    margin-left: 110px;
}

/* Nav Links */
.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
}
.nav-links.show {
  display: flex;
}

.nav-links a:hover {
    border-top: 2px solid #ff2b84;
    margin: 0;
    padding: 0;
    transition: 0.1s all;
}
.location-btn {
    background: #ff2b84;
    color: #fff;
    border: none;
    padding: 12px 26px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

#magnifying-glass {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 0px;
    cursor: pointer;
}

/* Mobile icon */
.menu-icon {
    display: none;
    font-size: 26px;
    cursor: pointer;
}