/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

/* ===== NAVBAR ===== */
.navbar {
    width: 100%;
    height: 70px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* Logo */
.logo img {
    height: 40px;
    margin-left: 110px;
}

/* Nav Links */
.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}
.nav-links a:hover {
    /* border on hover at the top of the window not on the word */
    border-top: 2px solid #ff2b84;
    margin: 0;
    padding: 0;
    transition: 0.1s all;
}
/* Right side */
.location-btn {
    background: #ff2b84;
    color: #fff;
    border: none;
    padding: 12px 26px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

#magnifying-glass {
    font-size: 25px;
    margin-top: 5px;
    margin-left: 0px;
    cursor: pointer;
}

/* Mobile icon */
.menu-icon {
    display: none;
    font-size: 26px;
    cursor: pointer;
}


/* ===== HERO SECTION ===== */
.hero {
    height: 67vh;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1550547660-d9450f859349");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 60px;
    margin-top: 70px;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
}

.hero-content {
    position: relative;
    color: #fff;
}

.hero-content h1 {
    font-size: 90px;
    line-height: 1.1;
    font-weight: 800;
    text-transform: lowercase;
    margin-left: 80px;
}
.para-section {
    width: 100%;
    padding: 40px 60px;
    box-sizing: border-box;
}
.para-section .para1 {
    font-size: 60px;
    color: #000;
    line-height: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-left: 80px;
}   
.hero-part2{
    display: flex;
    margin-top: 180px;
    margin-left: 80px;
}
.hero-part2 .part2{
    margin-left: 60px;
}
.hero-part2 .part1 .img1 {
    margin-left: 70px;
    margin-top: 20px;
    width: 750px;
    height: 450px;
    border-radius: 10px;
}
.hero-part2 .part2 .para1 {
    font-size: 50px;
    color: #000;
    line-height: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-left: 40px;
    margin-top: 60px;
    max-width: 600px;
}
.hero-part2 .part2 .para2 {
    font-size: 20px;
    color: #000;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-left: 40px;
    margin-top: 20px;
    max-width: 600px;
}
.hero-part2 .part2 .btn1 {
    background: #ff2b84;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 40px;
    margin-top: 30px;
}
.images-part{
    display: flex;
    gap: 30px;
    margin-left: 80px;
    margin-top: 30px;
}

.carsoul-section{
    width: 100%;
    background-color: #f5f5f5;
    
}
.carsoul-section .para1{
    font-size: 50px;
    font-weight: 700;
}
.carsoul-section .para2{
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 30px;
}
.footer-section{
    width: 100%;
    height: 600px;
    background-color: #000;
    margin-top: 50px;
}
footer img{
    margin-left: 200px;
    margin-top: 100px;
    height: 40px;
}
.links{
    display: flex;
    gap: 150px;
    margin-left: 200px;
    margin-top: 50px;
}
.links .link1 .para3 a{
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}
.links .link1 .para2 a{
    color: #fff;
    font-size: 17px;
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: 600;
    margin-left: 0px;
    margin-top: 100px;
}
.links .link1 .para4 a{
    color: #fff;
    font-size: 17px;
    margin-bottom: 20px;
    text-decoration: none;
    margin-left: 0px;
}
.links .link2 .para3 a{
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    margin-left: 20px;
}
.links .link2 .para2 a{
    color: #fff;
    font-size: 17px;
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 100px;
}
.links .link2 .para4 a{
    color: #fff;
    font-size: 17px;
    margin-bottom: 20px;
    text-decoration: none;
    margin-left: 20px;
}
.icons p a{
    color: #fff;
    font-size: 23px;
    margin-top: 50px;
    text-decoration: none;
    margin-left: 600px;
    font-weight: bold;
}   
.icon{
    margin-left: 600px;
    margin-top: 20px;
    font-size: 30px;
}
.para20{
    color: white;
    margin-left: 200px;
    margin-top: 100px;
}
.para21{
    color: white;
    margin-right: 100px;
    margin-top: 0px;
    text-align: right;
}