@media (max-width: 1200px) {
  .logo img {
    margin-left: 30px;
  }

  .hero-section h1 {
    margin-left: 60px;
    font-size: 60px;
  }

  h3 {
    margin-left: 60px;
  }

  .form-container {
    width: 90%;
    margin-left: 60px;
  }

  .form-container #email,
  .form-container textarea {
    width: 100%;
  }

  .footer-content .logo img,
  .footer-list1 p a,
  .Copyright {
    margin-left: 60px;
  }

  .footer-icons {
    margin-left: 60px;
    text-align: left;
  }

  .Privacy {
    margin-right: 60px;
  }
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #fff;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 20px 0;
  }

  .nav-links a {
    font-size: 18px;
    margin: 10px 0;
  }

  .location-btn,
  #magnifying-glass {
    margin-top: 15px;
  }

  .hero-section {
    height: 450px;
  }

  .hero-section h1 {
    font-size: 44px;
    margin-left: 30px;
    margin-top: 300px;
  }

  h3 {
    margin-left: 30px;
    font-size: 26px;
  }

  .form-container {
    flex-direction: column;
    margin-left: 30px;
  }

  .form-container #name {
    width: 100%;
  }

  .img img {
    width: 100%;
    margin-top: 40px;
  }

  .ending-box p {
    font-size: 18px;
  }

  footer {
    height: auto;
    padding-bottom: 40px;
  }

  .footer-list {
    flex-direction: column;
    gap: 30px;
  }

  .footer-list1 p a {
    margin-left: 30px;
  }

  .Copyright {
    margin-left: 30px;
    margin-top: 40px;
  }

  .Privacy {
    text-align: left;
    margin-left: 30px;
    margin-right: 0;
  }

  .footer-icons {
    margin-left: 30px;
    text-align: left;
  }
}

@media (max-width: 480px) {
  .hero-section h1 {
    font-size: 34px;
  }

  h3 {
    font-size: 22px;
  }

  .ending-box p {
    font-size: 16px;
  }
}
