* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

/* ===== NAVBAR ===== */
.navbar {
    width: 100%;
    height: 70px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* Logo */
.logo img {
    height: 40px;
    margin-left: 110px;
}

/* Nav Links */
.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}
.nav-links.show {
  display: flex;
}

.nav-links a:hover {
    border-top: 2px solid #ff2b84;
    margin: 0;
    padding: 0;
    transition: 0.1s all;
}
.location-btn {
    background: #ff2b84;
    color: #fff;
    border: none;
    padding: 12px 26px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

#magnifying-glass {
    font-size: 25px;
    margin-top: 5px;
    margin-left: 0px;
    cursor: pointer;
}

/* Mobile icon */
.menu-icon {
    display: none;
    font-size: 26px;
    cursor: pointer;
}
.hero-section {
    width: 100%;
    height: 680px;
    background: url('./Images/i.webp') ;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    /* DARKING BACKGROUND IMAGE */
    position: relative;
    z-index: 1;
}
.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.hero-section h1 {
    font-size: 78.5px;
    margin-left: 160px;
    margin-top: 400px;
}
h3{
    margin-left: 150px;
    margin-top: 170px;
    font-size: 30px;
    margin-bottom: 50px;
}
.form-container {
    width: 50%;
    margin-left: 135px;
    padding: 20px;
}
.form-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 20px;
}
.form-container #name {  
    width: 347px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.form-container #email {  
    width: 700px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.form-container textarea {  
    width: 700px;
    height: 20vh;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.form-container .submit-btn {
    background: #ff2b84;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    font-size: 20px;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    cursor: pointer;
}
.form-container .submit-btn:hover {
    background: #e0216d;
}
.form-container {
    display: flex;
}
.form{
    margin-top: 80px;
}
.ending-box{
    width: 100%;
    height: 200px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.ending-box p{
    font-size: 20px;
    max-width: 420px;
    text-align: center;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
}

footer{
    background-color: black;
    color: white;
    width: 100%;
    margin-top: 80px;
    height: 600px;
}
.footer-content .logo img{
    height: 40px;
    margin-top: 100px;
    margin-left: 200px;
}
.footer-list{
    display: flex;
    gap: 60px;
    margin-top: 50px;
}
.footer-list1 p a{
    margin-left: 200px;
    color: white;
    font-size: 17px;
}
.footer-list1 p a:hover{
    text-decoration: underline;
    transition: 0.3s all;
}
.footer-list1 .bold{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-list1 .bold2{
    font-weight: bold;
    /* font-size: 20px; */
    /* margin-bottom: 20px; */
}
.Copyright{
    text-align: left;
    margin-top: 100px;
    font-size: 17px;
    margin-left: 200px;
}
.Privacy{
    text-align: right;
    margin-top: 10px;
    font-size: 17px;
    margin-right: 100px;
}
.footer-icons{
    gap: 20px;
    margin-top: 30px;
    font-size: 20px;
    margin-left: 700px;
    text-align: center;
}
.footer-icons i{
    font-size: 30px;
    margin-top: 5px;
}