* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'poppins',sans-serif;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

/* ===== NAVBAR ===== */
.navbar {
    width: 100%;
    height: 70px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* Logo */
.logo img {
    height: 30px;
    margin-left: 110px;
}

/* Nav Links */
.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
}
.nav-links.show {
    display: flex;
}

.nav-links a:hover {
    border-top: 2px solid #ff2b84;
    margin: 0;
    padding: 0;
    transition: 0.1s all;
}
.location-btn {
    background: #ff2b84;
    color: #fff;
    border: none;
    padding: 12px 26px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

#magnifying-glass {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 0px;
    cursor: pointer;
}

/* Mobile icon */
.menu-icon {
    display: none;
    font-size: 26px;
    cursor: pointer;
}


.hero-section{
    width: 100%;
    height: 700px;
    position: relative;
    background-image: url(./Images/imgi_47_foodpanda-panda-ads.webp);
}
.hero-section img{
    width: 100%;
    height: 100%;
}
.hero-section h1{
    color: white;
    position: absolute;
    margin-top: 180px;
    line-height: 59px;
    font-size: 76.8px;
    margin-left: 120px;
}

.hero-section p{
    color: white;
    position: absolute;
    margin-top: 340px;
    line-height: 29px;
    font-size: 18px;
    margin-left: 120px;
}

.hero-section button{
    color: #ff2b84;
    background-color: white;
    border-radius: 25px;
    border: none;
    position: absolute;
    margin-top: 440px;
    line-height: 29px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 120px;
    padding: 12px 32px;
}
.para1{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Poppins',sans-serif;
    line-height: 35px;
    text-align: center;
    margin-top: 100px;
}
.flex{
    display: flex;
    justify-content: space-evenly;
}
.flex .para1{
    font-size: 45px;
    font-family: 'poppins',sans-serif;

}
.flex .span1{
    font-weight: 600;
}
.hero2{
    margin-top: 100px;
    width: 100%;
    height: 500px;
    text-align: center;
    background-color: #f5f5f5;
}
.hero2 .para2{
    font-size: 40px;
    font-weight:bold;
}
.hero-flex{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.flex-box3 .img3{
    height: 110px;
}

.flex-box2 .img2{
    height: 110px;
}

.flex-box1 .img1{
    height: 110px;
}
.hero-flex .para1{
    font-size: 20px;
    font-weight: bold;
}

.hero-flex .para2{
    font-size: 18px;
    max-width: 400px;
    font-weight: 300;
    font-family: 'Poppins',sans-serif;
    color: #000026;
    margin-top: 20px;

}
h1{
    text-align: center;
    margin-top: 50px;
    font-family: 'Poppins',sans-serif;
    font-size: 40px;
}
   
.hero-part2{
    display: flex;
    margin-top: 180px;
    margin-left: 80px;
}
.hero-part2 .part2{
    margin-left: 60px;
    text-align: left;
}
.hero-part2 .part1 .img1 {
    margin-left: 40px;
    margin-top: 20px;
    width: 650px;
    height: 400px;
    border-radius: 10px;
}
.hero-part2 .part2 .para1 {
    font-size: 40px;
    color: #000;
    line-height: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 60px;
    max-width: 500px;
    text-align: left;
}
.hero-part2 .part2 .para2 {
    font-size:15px;
    color: #000;
    line-height: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 20px;
    max-width: 600px;
    word-spacing: 1px;
}
.hero-part2 .part2 .btn1 {
    background: #ff2b84;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 30px;
}
.hero-part2 .part2 .btn1:hover {
    background: #e28bb1;
    transition: 0.3s all;
}


/* CARDS */
.cards{
    display: flex;
    margin-left: 140px;
    gap: 33px;
    margin-top: 20px;
}
.cards .card1{
    width: 30%;
    height: 550px;
    background-color: #fff;
    border-radius: 10px;
}
.cards .card2{
    width: 30%;
    height: 550px;
    border-radius: 10px;
    background-color: #fff;
    

}
.cards .card3{
    width: 30%;
    height: 550px;
    background-color: #fff;
    border-radius: 10px;
}
.card1 img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}
.card2 img{
    width: 100%;
    border-radius: 10px;
    height: 300px;
}
.card3 img{
    width: 100%;
    border-radius: 10px;
    height: 300px;
}
.cards .para1{
    color: #ff2b84;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 700;
}
.cards .para2{
    color: black;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 28px;
    font-weight: bolder;
    line-height: 25px;
    font-family: 'Poppins',sans-serif;
}
.cards .para3{
    color: #333a45;
    font-size: 16px;
    font-weight: 400;
    margin-left: 20px;
    margin-top: 40px;
}

.card-area{
    background-color: #f5f5f5;
    width: 100%;
    height: 800px;
    margin-bottom: 50px;
}

.cards .btn1 {
    background: #ff2b84;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 30px;
}
.hero-part2 .btn1:hover {
    background: #e28bb1;
    transition: 0.3s all;
}
.text-btn{
    display: flex;  
    justify-content: space-between;
    background-color: #fcf2f7;
    width: 100%;
    height: 180px;
    margin-top: 100px;
    align-items: center;
    
}
.brands-flex{
    margin-left: 80px;
}
.text-btn .para1{
    margin-top: -10px;
    margin-left: 140px;
}
.text-btn .btn1 {
    background: #ff2b84;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    height: 52px;
    width:152px;
    font-weight: 600;
    cursor: pointer;
    margin-top: -10px;
    margin-right: 100px;
}
.text-btn .btn1:hover {
    background: #e28bb1;
    transition: 0.3s all;
}











footer{
    background-color: black;
    color: white;
    width: 100%;
    margin-top: 80px;
    height: 500px;
}
.footer-content .logo img{
    height: 30px;
    margin-top: 100px;
    margin-left: 200px;
}
.footer-list{
    display: flex;
    gap: 60px;
    margin-top: 50px;
}
.footer-list1 p a{
    margin-left: 200px;
    color: white;
    font-size: 15px;
}

.footer-list2 p a{
    margin-left: 100px;
    color: white;
    font-size: 15px;
}
.footer-list1 p a:hover{
    text-decoration: underline;
    transition: 0.3s all;
}
.footer-list1 .bold{
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 20px;
}

.footer-list2 .bold{
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 20px;
}
.footer-list1 .bold2{
    font-weight: bold;
    /* font-size: 20px; */
    /* margin-bottom: 20px; */
}
.Copyright{
    text-align: left;
    margin-top: 100px;
    font-size: 15px;
    margin-left: 200px;
}
.Privacy{
    text-align: right;
    margin-top: 0px;
    font-size: 15px;
    margin-right: 100px;
}
.footer-icons{
    gap: 20px;
    margin-top: 30px;
    font-size: 17px;
    margin-left: 700px;
    text-align: center;
}
.footer-icons i{
    font-size: 25px;
    margin-top: 5px;
}
