* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'poppins',sans-serif;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

/* ===== NAVBAR ===== */
.navbar {
    width: 100%;
    height: 70px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* Logo */
.logo img {
    height: 30px;
    margin-left: 110px;
}

/* Nav Links */
.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
}
.nav-links.show {
    display: flex;
}

.nav-links a:hover {
    border-top: 2px solid #ff2b84;
    margin: 0;
    padding: 0;
    transition: 0.1s all;
}
.location-btn {
    background: #ff2b84;
    color: #fff;
    border: none;
    padding: 12px 26px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

#magnifying-glass {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 0px;
    cursor: pointer;
}

/* Mobile icon */
.menu-icon {
    display: none;
    font-size: 26px;
    cursor: pointer;
}
.text{
    margin-top: 80px;
    text-align: left;
    background-color: #f5f5f5;
    width: 100%;
    height: 200px;
}
.text h1{
    font-size: 48px;
    font-weight: bold;
    color: black;
    margin-left: 140px;
}

.text p{
    font-size: 16px;
    font-weight: 400;
    margin-left: 140px;
}


.hero2{
    margin-top: 100px;
    width: 100%;
    height: 500px;
    text-align: center;
    background-color: #f5f5f5;
}
.hero2 .para2{
    font-size: 40px;
    font-weight:bold;
}
.hero-flex{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.flex-box3 .img3{
    height: 110px;
}

.flex-box2 .img2{
    height: 110px;
}

.flex-box1 .img1{
    height: 110px;
}
.hero-flex .para1{
    font-size: 20px;
    font-weight: bold;
}

.hero-flex .para2{
    font-size: 18px;
    max-width: 400px;
    font-weight: 300;
    font-family: 'Poppins',sans-serif;
    color: #000026;
    margin-top: 20px;

}
