* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'poppins',sans-serif;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

/* ===== NAVBAR ===== */
.navbar {
    width: 100%;
    height: 70px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* Logo */
.logo img {
    height: 30px;
    margin-left: 110px;
}

/* Nav Links */
.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
}
.nav-links.show {
    display: flex;
}

.nav-links a:hover {
    border-top: 2px solid #ff2b84;
    margin: 0;
    padding: 0;
    transition: 0.1s all;
}
.location-btn {
    background: #ff2b84;
    color: #fff;
    border: none;
    padding: 12px 26px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

#magnifying-glass {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 0px;
    cursor: pointer;
}
.fp-navbar {
  background: #fff;
  border-bottom: 1px solid #eee;
  font-family: Arial, sans-serif;
}

.fp-nav {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 28px;
  padding: 14px 24px;
  margin: 0;
}

/* logo */
.logo {
  font-size: 22px;
  font-weight: bold;
  color: #D70F64;
}

.logo span {
  color: #000;
}

/* links */
.fp-nav li a {
  text-decoration: none;
  color: #222;
  font-size: 16px;
  font-weight: 500;
}

.fp-nav li a:hover {
    border-top: 2px solid #ff2b84;
    transition: .1s ease;
}

/* dropdown */
.dropdown {
  position: relative;
}
.menu{
    display: flex;
    gap: 30px;
    margin-left: 600px;
}
.btn1{
    padding: 8px 22px;
    border-radius: 20px;
    border: none;
    background-color: #ff2b84;
    color: white;
    font-size: 13px;
    font-weight: bold;
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  border: 1px solid #ddd;
  min-width: 180px;
  list-style: none;
}

.dropdown-menu li a {
  display: block;
  padding: 10px 14px;
  font-size: 15px;
}

.dropdown-menu li a:hover {
  background: #f8f8f8;
  color: #D70F64;
}

/* show dropdown */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* search icon */
.search {
  margin-left: auto;
  font-size: 18px;
  color: #222;
  cursor: pointer;
}

.search:hover {
  color: #D70F64;
}

/* Mobile icon */
.menu-icon {
    display: none;
    font-size: 26px;
    cursor: pointer;
}
.text-flex h1{
    font-size: 48px;
    font-weight: bold;
    color: black;
    margin-left: 140px;
}
.text-flex{
    text-align: center;
    margin-top: 30px;
}
.text p{
    font-size: 16px;
    font-weight: 400;
    margin-left: 140px;
}


.hero2{
    margin-top: 100px;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #fff;
}
.hero2 .para2{
    font-size: 40px;
    font-weight:bold;
}
.hero-flex{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.flex-box3 .img3{
    height: 600px;
}

.flex-box2 .img2{
    height: 600px;
}

.flex-box1 .img1{
    height: 600px;
}
.hero-flex .para1{
    font-size: 20px;
    font-weight: bold;
}

.hero-flex .para2{
    font-size: 18px;
    max-width: 400px;
    font-weight: 300;
    font-family: 'Poppins',sans-serif;
    color: #000026;
    margin-top: 20px;

}
.btn-part{
    background-color: #f5f5f5;
    width: 100%;
    margin-top: 200px;
}

.btn-part .heading-2{
    font-size: 40px;
    font-weight: bold;
    margin-top: 100px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color:black;
}
.btn-part .btn1{
    display: block;
    background:#fff ;
    border: 2px solid #c21761;
    color:#ff2b84 ;
    padding: 8px 12px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.btn-part .btn1:hover{
    background:#c21761;
    color: #fff;
    transition: 0.3s all;
    border: none;
}
.btn-together{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
    font-size: 18px;
}

.btn-part .btn-together .btn2{
    display: block;
    background:#fff ;
    border: 2px solid #c21761;
    color:#ff2b84 ;
    padding: 8px 12px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.btn-part .btn-together .btn3{
    display: block;
    background:#fff ;
    border: 2px solid #c21761;
    color:#ff2b84 ;
    padding: 8px 12px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.btn-part .btn-together .btn2:hover,
.btn-part .btn-together .btn3:hover{
    background:#c21761;
    color: #fff;
    transition: 0.3s all;
    border: none;
}
 
.text-img{
    display: flex;
}
.text{
    text-align: left;
    margin-top: 200px;
}
.text .heading{
    font-size: 40px;
    font-weight: bold;

}
.text p{
    text-align: left;
}

h3{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
}

.hero2{
    margin-top: 100px;
    width: 100%;
    height: 500px;
    margin-left: 50px;
    text-align: center;
}
.hero2 .para2{
    font-size: 40px;
    font-weight:bold;
}
.hero-flex{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.flex-box3 .img3{
    height: 300px;
}

.flex-box2 .img2{
    height: 300px;
}

.flex-box1 .img1{
    height: 300px;
}
.hero-flex .para1{
    font-size: 20px;
    font-weight: bold;
}

.hero-flex .para2{
    font-size: 18px;
    max-width: 400px;
    font-weight: 300;
    font-family: 'Poppins',sans-serif;
    color: #000026;
    margin-top: 20px;

}
  
.hero-part2{
    display: flex;
    margin-top: 180px;
    margin-left: 80px;
}
.hero-part2 .part2{
    margin-left: 60px;
}
.hero-part2 .part1 .img1 {
    margin-left: 40px;
    margin-top: 20px;
    width: 650px;
    height: 400px;
    border-radius: 10px;
}
.hero-part2 .part2 .para1 {
    font-size: 40px;
    color: #000;
    line-height: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 150px;
    max-width: 500px;
}
.hero-part2 .part2 .para2 {
    font-size:15px;
    color: #000;
    line-height: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 20px;
    max-width: 600px;
    word-spacing: 1px;
}
.hero-part2 .part2 .btn1 {
    background: #ff2b84;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 30px;
}
.hero-part2 .part2 .btn1:hover {
    background: #e28bb1;
    transition: 0.3s all;
}

.text-btn{
    display: flex;  
    justify-content: space-between;
    background-color: #ff2b84;
    width: 100%;
    height: 180px;
    margin-top: 100px;
    align-items: center;
    
}
.brands-flex{
    margin-left: 80px;
}
.text-btn .para1{
    margin-top: -10px;
    margin-left: 140px;
    font-size: 40px;
    font-weight: bold;
    color: white;
}
.text-btn .btn1 {
    background: white;
    color: #ff2b84;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    height: 52px;
    width:152px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 0px;
    margin-right: 100px;
}
.text-btn .btn1:hover {
    background: #e28bb1;
    transition: 0.3s all;
}



footer{
    background-color: black;
    color: white;
    width: 100%;
    margin-top: 80px;
    height: 500px;
}
.footer-content .logo img{
    height: 30px;
    margin-top: 100px;
    margin-left: 200px;
}
.footer-list{
    display: flex;
    gap: 60px;
    margin-top: 50px;
}
.footer-list1 p a{
    margin-left: 200px;
    color: white;
    font-size: 15px;
}

.footer-list2 p a{
    margin-left: 100px;
    color: white;
    font-size: 15px;
}
.footer-list1 p a:hover{
    text-decoration: underline;
    transition: 0.3s all;
}
.footer-list1 .bold{
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 20px;
}

.footer-list2 .bold{
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 20px;
}
.footer-list1 .bold2{
    font-weight: bold;
    /* font-size: 20px; */
    /* margin-bottom: 20px; */
}
.Copyright{
    text-align: left;
    margin-top: 100px;
    font-size: 15px;
    margin-left: 200px;
}
.Privacy{
    text-align: right;
    margin-top: 0px;
    font-size: 15px;
    margin-right: 100px;
}
.footer-icons{
    gap: 20px;
    margin-top: 30px;
    font-size: 17px;
    margin-left: 700px;
    text-align: center;
}
.footer-icons i{
    font-size: 25px;
    margin-top: 5px;
}










