* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

/* ===== NAVBAR ===== */
.navbar {
    width: 100%;
    height: 70px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* Logo */
.logo img {
    height: 30px;
    margin-left: 110px;
}

/* Nav Links */
.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
}
.nav-links.show {
  display: flex;
}

.nav-links a:hover {
    border-top: 2px solid #ff2b84;
    margin: 0;
    padding: 0;
    transition: 0.1s all;
}
.location-btn {
    background: #ff2b84;
    color: #fff;
    border: none;
    padding: 12px 26px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

#magnifying-glass {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 0px;
    cursor: pointer;
}

/* Mobile icon */
.menu-icon {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

.hero-part1{
    width: 100%;
    height: 600px;
    background-size: cover;
    text-align: center;
    max-width: 3000px;
    background-image: url(./Images/i.png);
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}
.hero-part1 h1{
    color: white;
    font-size: 61.44px;
    padding-top: 300px;
    font-weight: 600;
    max-width: 800px;
    text-align: left;
    line-height: 60px;
    margin-left: 140px;
}
.hero-part1 .btn{
    background-color: #ff2b84;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
}
.para-section{
    width: 100%;
    height: 300px;
    text-align: center;
    margin-top: 80px;
    background-color: #f5f5f5;
}
.para-section .para2{
    font-size: 40px;
    font-weight: bold;
    margin-top: 70px;
    color: black;
}
.para-section .para3{
    font-size: 16px;
    margin-top: 20px;
    color: black;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
}
.btn1{
    padding: 8px 30px;
    margin-top: 40px;
    margin-left: 10px;
    border-radius: 25px;
    font-family: 'poppins',sans-serif;
    border: 2px solid #c21761;
    color: #ff2b84;
    background-color: #fff;
    font-weight: 600;
    font-size: 17px;
}

.card-text3{
    display: flex;
    justify-content: space-evenly;
    flex: wrap;
    /* background-color: #f5f5f5; */
}
.card-text3 .heading-3{
    max-width: 1000px;
    margin-top: 80px;
    font-size: 40px;
    max-width: 400px;
    line-height: 40px;
}
.card-text3 .para1{
    max-width: 650px;
    margin-bottom: 20px;
    font-size: 17px;
    max-width: 400px;
    margin-top: 20px;
}
.text-card{
    margin-top: 70px;
}
.img-card{
    background-image: url(./Images/i.webp);
    height: 370px;
    width: 550px;
    margin-top: 100px;
}
.card-text3 button{
    padding: 12px 40px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: #ff2b84;
    border: none;
    font-weight: 600;
    border-radius: 27px;
}
.para5{
    margin-left: 150px;
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}

.images{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-top: 50px;
    gap: 25px;
    margin-left: 150px;
}
.images .img1{
    height: 400px;
    width: 280px;
    background-image: url(./Images/i\ \(8\).webp);
    background-size: cover;
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: darken;
}
.images .img2{
    height: 400px;
    width: 280px;
    background-image: url(./Images/i\ \(1\).jpg);
    background-size: cover;
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: darken;
}
.images .img3{
    height: 400px;
    width: 280px;
    background-image: url(./Images/i\ \(2\).jpg);
    background-size: cover;
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: darken;
}
.images .img4{
    height: 400px;
    width: 280px;
    background-image: url(./Images/i\.jpg);
    background-size: cover;
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: darken;
}
.img1 .para1{
    color: white;  
    position: absolute;
    left: 0px;
    top: 50px;
    font-size: 24px;
    line-height: 23px;
    font-weight: bold;
    margin-left: 20px;
    max-width: 150px;
}
.img2 .para2{
    color: white;  
    position: absolute;
    left: 0px;
    top: 50px;
    font-size: 24px;
    line-height: 23px;
    font-weight: bold;
    margin-left: 20px;
    max-width: 200px;
}
.img3 .para3{
    color: white;  
    position: absolute;
    left: 0px;
    top: 50px;
    font-size: 24px;
    line-height: 23px;
    font-weight: bold;
    margin-left: 20px;
    /* max-width: 150px; */
}
.img4 .para4{
    color: white;  
    position: absolute;
    left: 0px;
    top: 50px;
    font-size: 24px;
    line-height: 23px;
    font-weight: bold;
    margin-left: 20px;
    max-width: 150px;
}
.main-card{
    width: 100%;
    height: auto;
    margin-top: 50px;
    background-color: #f5f5f5;
}
.div1{
    background-color: #fff;
    height: 400px;
    width: 300px;
    border-radius: 20px;
    
}
.div2{
    background-color: #fff;
    height: 400px;
    width: 300px;
    border-radius: 20px;
}
.div3{
    background-color: #fff;
    height: 400px;
    width: 300px;
    border-radius: 20px;
}
.div4{
    background-color: #fff;
    height: 400px;
    width: 300px;
    border-radius: 20px;
}
.div1, .div2, .div3, .div4{
    margin-bottom: 100px;
}
.div1 img, .div2 img, .div3 img, .div4 img{
    height: 60px;
    margin-top: 20px;
}
.div1 p{
    font-size: 18px;
    font-weight: bold;
    margin-top: 130px;
    line-height: 20px;
}
.div2 p{
    font-size: 20px;
    font-weight: bold;
    margin-top: 150px;
    line-height: 20px;
}
.div3 p{
    font-size: 20px;
    font-weight: bold;
    margin-top: 130px;
    line-height: 20px;
}
.div4 p{
    font-size: 20px;
    font-weight: bold;
    margin-top: 80px;
    line-height: 20px;
    max-width: 250px;
}
.cards span{
    font-size: 30px;
    text-align: center;
    margin-top: 400px;
    font-weight: bold;
}
.main-card .para1{
    font-size: 40px;
    font-weight: 600;
    margin-top: 80px;
    text-align: center;
}
.cards{
    display: flex;
    gap: 30px;
    margin-top: 50px;
    flex-wrap: wrap;
    margin-bottom: 80px;
    margin-left: 130px;
}
.questions{
    width: 60%;
    height: auto;
    background-color: #fff;
    text-align: center;
    padding-bottom: 50px;
}
.questions .head-1{
    font-size: 40px;
    font-weight: bold;
    font-family: 'poppins',sans-serif;
}
.questions .ques-1{
    font-size: 20px;
    margin-top: 20px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.questions .ques-2{
    font-size: 20px;
    margin-top: 10px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.questions .ques-3{
    font-size: 20px;
    margin-top: 10px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}




footer{
    background-color: black;
    color: white;
    width: 100%;
    margin-top: 80px;
    height: 500px;
}
.footer-content .logo img{
    height: 30px;
    margin-top: 100px;
    margin-left: 200px;
}
.footer-list{
    display: flex;
    gap: 60px;
    margin-top: 50px;
}
.footer-list1 p a{
    margin-left: 200px;
    color: white;
    font-size: 15px;
}

.footer-list2 p a{
    margin-left: 100px;
    color: white;
    font-size: 15px;
}
.footer-list1 p a:hover{
    text-decoration: underline;
    transition: 0.3s all;
}
.footer-list1 .bold{
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 20px;
}

.footer-list2 .bold{
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 20px;
}
.footer-list1 .bold2{
    font-weight: bold;
    /* font-size: 20px; */
    /* margin-bottom: 20px; */
}
.Copyright{
    text-align: left;
    margin-top: 100px;
    font-size: 15px;
    margin-left: 200px;
}
.Privacy{
    text-align: right;
    margin-top: 0px;
    font-size: 15px;
    margin-right: 100px;
}
.footer-icons{
    gap: 20px;
    margin-top: 30px;
    font-size: 17px;
    margin-left: 700px;
    text-align: center;
}
.footer-icons i{
    font-size: 25px;
    margin-top: 5px;
}