* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

/* ===== NAVBAR ===== */
.navbar {
    width: 100%;
    height: 70px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* Logo */
.logo img {
    height: 30px;
    margin-left: 110px;
}

/* Nav Links */
.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
}
.nav-links.show {
  display: flex;
}

.nav-links a:hover {
    border-top: 2px solid #ff2b84;
    margin: 0;
    padding: 0;
    transition: 0.1s all;
}
.location-btn {
    background: #ff2b84;
    color: #fff;
    border: none;
    padding: 12px 26px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

#magnifying-glass {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 0px;
    cursor: pointer;
}

/* Mobile icon */
.menu-icon {
    display: none;
    font-size: 26px;
    cursor: pointer;
}









footer{
    background-color: black;
    color: white;
    width: 100%;
    margin-top: 80px;
    height: 500px;
}
.footer-content .logo img{
    height: 30px;
    margin-top: 100px;
    margin-left: 200px;
}
.footer-list{
    display: flex;
    gap: 60px;
    margin-top: 50px;
}
.footer-list1 p a{
    margin-left: 200px;
    color: white;
    font-size: 15px;
}

.footer-list2 p a{
    margin-left: 100px;
    color: white;
    font-size: 15px;
}
.footer-list1 p a:hover{
    text-decoration: underline;
    transition: 0.3s all;
}
.footer-list1 .bold{
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 20px;
}

.footer-list2 .bold{
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 20px;
}
.footer-list1 .bold2{
    font-weight: bold;
    /* font-size: 20px; */
    /* margin-bottom: 20px; */
}
.Copyright{
    text-align: left;
    margin-top: 100px;
    font-size: 15px;
    margin-left: 200px;
}
.Privacy{
    text-align: right;
    margin-top: 0px;
    font-size: 15px;
    margin-right: 100px;
}
.footer-icons{
    gap: 20px;
    margin-top: 30px;
    font-size: 17px;
    margin-left: 700px;
    text-align: center;
}
.footer-icons i{
    font-size: 25px;
    margin-top: 5px;
}